body {
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif;
  }
  
  nav {
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #387448;
    padding: 10px;
    width: 100%;
}
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-size: medium;
  }

@media only screen and (max-width: 600px) {
  nav {
      flex-direction: column;
      text-align: center; 
  }

  nav a {
      margin: 5px 0; 
      font-size: 15px;
  }
}

  .logo{
    display: flex;
  }
  .logo img{
    width: 50px;
    }
  
  @media only screen and (max-width: 600px) {
    .logo {
        justify-content: center; 
    }

    .logo img {
        width: 20%;
  }
 }

  footer{
    background-color: #387448;
    color: #fdfdfd;
    padding: 10px;
    text-align: right;
  }

  .nav ul {
    list-style-type: none;
    padding: 0;
  }

  .nav li {
    display: inline;
    margin-right: 10px;
  }

  .nav a {
    text-decoration: none;
    color: #7affb6;
    font-weight: bold;
  }

  @media only screen and (max-width: 600px) {
    footer {
        text-align: center; 
        font-size: 13px;
    }

    .nav {
        text-align: center; 
    }

    .nav li {
        display: block; 
        margin: 5px 0; 
    }
}

  #A{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(Assets/image12.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    color: white; 
    padding: 100px; 
    height: 600px;
    
  }
  #A h1{
    text-align: center;
    font-size: 120px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 2.5);

  }
  #A p{
    text-align: center;
    font-size:xx-large;
  }

  @media only screen and (max-width: 600px) {
    #A {
        padding: 20px; 
        height: auto; 
    }

    #A h1 {
        font-size: 36px; 
    }

    #A p {
        font-size: medium; 
    }
}


  #B{
    display: flex;
    text-align: center;
    font-size: larger;
    background-color: #387448;
    color: #fdfdfd;
    background-attachment:scroll;
  }
  
  .text1 {
    flex: 1;
    padding: 20px;
  }

  .image1 {
    flex: 1;
    padding: 20px;
  }

  .image{
    width: 235px;
    height: 200px;
    object-fit:cover;
    
  }

  .imageA{
    width: 150px;
    height: 210px;
    object-fit:cover;
  }

  @media only screen and (max-width: 600px) {
    #B {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .text1,
    .image1 {
      flex: 1;
      padding: 10px;
      font-size: 15px;
    }
  
    .image,
    .imageA {
      width: 25%;
      height: auto;
      object-fit: cover;
    }
  }
  

  #C{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(Assets/image13.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 650px;
    color: aliceblue;
    padding: 43px;
  }

  #C h2{
  text-align: center;
  font-size: 75px;
    
  }

  #C p{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
  }

  .imgline{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .imgline img{
    width: 300px;
    height: 150px;
  }

  @media only screen and (max-width: 600px) {
    #C {
      height: auto;
      padding: 20px;
    }
  
    #C h2 {
      font-size: 40px;
    }
  
    #C p {
      font-size: 16px;
    }
  
    .imgline {
      flex-direction: column;
      align-items: center;
    }
  
    .imgline img {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  }
  
 
  #D{
    background-color: #002210;
    padding: 10px;
    color: rgb(255, 255, 255);
  }
  
  #D h2{
    text-align: center;
    font-size: 75px;
    color: #16d84a;
  }

  #D p{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: #16d84a;
  }

  #D ul{
    font-size: 20px;
    text-align:start;
    padding: 100PX;
  }

  #D h3{
    font-size: 40px;  
  }

  #D ol{
    font-size: 20px;
  }

  #D a{
    color: #16d84a;
  }

  @media only screen and (max-width: 600px) {
    #D {
      padding: 10px;
    }
  
    #D h2 {
      font-size: 40px;
    }
  
    #D p {
      font-size: 16px;
    }
  
    #D ul {
      font-size: 10px;
      padding: 20px;
    }
  
    #D h3 {
      font-size: 25px;
    }
  
    #D ol {
      font-size: 15px;
    }
  }
  
  #E{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(Assets/image14.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10px;
  }
  #E h1{
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
  }

  .quote{
    text-align: center;
    font-size: 20px;
    color: rgb(141, 9, 9);
  }

  .slimg{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: auto;
  }
  
  .intro p{
    text-align: center;
    font-size: 25px;
    color: #024514;
    font-weight: bolder;
  }

  @media only screen and (max-width: 600px) {
    #E {
      padding: 5px;
    }
  
    #E h1 {
      font-size: 50px;
    }
  
    .quote {
      font-size: 12px;
    }
  
    .slimg {
      width: 50px;
    }
  
    .intro p {
      font-size: 15px;
    }
  }
  
  .udawalawa h3{
    text-align: center;
    font-size: 65px;
  }

  .udawalawa img{
    width: 100%;
    height: auto;
  }

  .udaimg{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: #003b10;
    font-weight: 900;
  }

  .udaimg img{
    width: 400px;
    object-fit: cover;
  }

  @media only screen and (max-width: 600px) {
    .udawalawa h3 {
      font-size: 40px;
    }
  
    .udawalawa img {
      width: 100%;
      height: 150px;
    }
  
    .udaimg {
      flex-direction: column;
      align-items: center;
      font-size: 15px;
    }
  
    .udaimg img {
      width: 80%;
      height: auto;
      margin-bottom: 10px;
    }

    iframe{
      width: 300px;
    }
  }
  
  .horton h3{
    text-align: center;
    font-size: 65px;
  }

  .horton img{
    width: 100%;
    height: 750px;
  }

  .hortonimg{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: #003b10;
    font-weight: 900;
  }

  .hortonimg img{
    width: 400px;
    object-fit: cover;
  }

  @media only screen and (max-width: 600px) {
    .horton h3 {
      font-size: 40px;
    }
  
    .horton img {
      width: 100%;
      height: auto;
    }
  
    .hortonimg {
      flex-direction: column;
      align-items: center;
      font-size: 15px;
    }
  
    .hortonimg img {
      width: 80%;
      margin-bottom: 10px;
    }
  }
  

  .sinharaja h3{
    text-align: center;
    font-size: 65px;
  }

  .sinharaja img{
    width: 100%;
    height: 700px;
  }

  .sinharajaimg{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: #003b10;
    font-weight: 900;
  }

  .sinharajaimg img{
    width: 400px;
    object-fit: cover;
  }
  
  @media only screen and (max-width: 600px) {
    .sinharaja h3 {
      font-size: 40px;
    }
  
    .sinharaja img {
      width: 100%;
      height: 150px;
      max-height: 500px; 
    }
  
    .sinharajaimg {
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 15px;
    }
  
    .sinharajaimg img {
      width: 80%; 
      object-fit: cover;
      margin-bottom: 10px;
    }
  }
  
  .bundala h3{
    text-align: center;
    font-size: 65px;
  }

  .bundala img{
    width: 100%;
    height: 500px;
  }

  .bundalaimg{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: #003b10;
    font-weight: 900;
  }

  .bundalaimg img{
    width:1500px;
    object-fit: cover;
  }

  @media only screen and (max-width: 600px) {
    .bundala h3 {
      font-size: 40px;
    }
  
    .bundala img {
      width: 100%;
      height: auto;
      max-height: 400px; 
    }
  
    .bundalaimg {
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 15px;
    }
  
    .bundalaimg img {
      width: 80%;
      object-fit: cover;
      margin-bottom: 10px;
    }
  }
  

  table{
    width: 100%;
    justify-content: center;
    font-weight: bolder;
  }

  th,td{
    border: 1px solid black; 
    padding: 8px; 
  }

  .table h3{
    text-align: center;
    font-weight: bolder;
    font-size: 65px;
  }

  tfoot{
    text-align: right;
    font-size: smaller;
  }

  @media only screen and (max-width: 600px) {
    table {
      width: 100px;
      margin: 10px 0;
    }

    th, td {
      width: 100%;
      box-sizing: border-box;
      border: 1px solid black;
      padding: 5.5px;
      margin-bottom: 5px; 
      font-size: 16px;
    }

    .table h3 {
      font-size: 40px;
    }
  }

  #F{
    background-color: #051f1b;
  }
  .introduction{
    text-align: center;
    color: #0c6b25;
    padding: 	20px;
  }

  .introduction h1{
    font-size: 80px;
  }

  .introduction p{
    font-size: 20px;
    font-weight: bolder;
  }

  @media only screen and (max-width: 600px) {
    #F {
      background-color: #051f1b;
    }
  
    .introduction {
      padding: 20px;
    }
  
    .introduction h1 {
      font-size: 40px; 
    }
  
    .introduction p {
      font-size: 15px; 
      font-weight: bolder;
    }
  }
  
  #PA{
    background-color: #002e00;
    color: #ffffff;
  }

  #PA{
    text-align: center;
    font-size: 50px;
    padding: 10px;
  }

  .protected{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  }

  .gallery-item {
  position: relative;
  margin: 10px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
  }

  .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  }

  .gallery-item:hover img {
  transform: scale(1.1);
  }

  .text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 45px;
  font-weight: bolder;
  opacity: 0;
  transition: opacity 0.5s ease;
  }

  .gallery-item:hover .text-overlay {
  opacity: 1;
  }

  @media only screen and (max-width: 600px) {
    #PA {
      background-color: #002e00;
      color: #ffffff;
      text-align: center;
      font-size: 30px; 
      padding: 10px;
    }
  
    .protected {
      justify-content: center;
      align-items: center;
    }
  
    .gallery-item {
      width: 100%;
      height: 300px; 
    }
  
    .gallery-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease;
    }
  
    .text-overlay {
      font-size: 45px; 
    }
  }
  
  #map{
    background-color: #051f1b;
    padding: 10px;
  }
  .map h3{
    text-align: center;
    font-size: 50px;
    color: #ffffff;
  }

  .map iframe{
    width: 100%;
  }

  @media only screen and (max-width: 600px) {
    #map {
      background-color: #051f1b;
      padding: 10px;
    }
  
    .map h3 {
      font-size: 40px; 
      color: #ffffff;
      text-align: center;
    }
  
    .map iframe {
      width: 100%;
      height: 300px; 
    }
  }  

  .background{
    background-image: url(Assets/image15.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .topic{
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
    padding: 100px;
    animation: moveText 10s linear infinite;
    color: #ffffff;
  }

  @keyframes moveText {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @media only screen and (max-width: 600px) {
    .background {
      background-size: contain; 
      background-attachment: scroll; 
    }
  
    .topic {
      font-size: 60px; 
      padding: 50px; 
    }
  } 

  #G{
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.6)), url(Assets/image16.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    height: 575px;
    width: auto;
    
  }

  .yala h2{
    font-size: 75px;
    font-weight: bolder;
    color: #000000;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

  }

  .yala p{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  @media only screen and (max-width: 600px) {
    #G {
      height: auto; 
    }
  
    .yala h2 {
      font-size: 40px; 
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9); 
    }
  
    .yala p {
      font-size: 15px; 
    }
  }
  
  #H{
    background-image: url(Assets/image17.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    padding: 10px;
    height: 500px;
    }

  .wilpattu h2{
    font-size: 75px;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 2.5);
  }

  .wilpattu p{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 10);

  }

  @media only screen and (max-width: 600px) {
    #H {
      height: auto; 
    }
  
    .wilpattu h2 {
      font-size: 40px; 
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9); 
    }
  
    .wilpattu p {
      font-size: 15px; 
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); 
    }
  }
  
  #I{background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.6)),url(Assets/image18.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    height: 500px;
    color: aliceblue;
    text-align: center;
  }

  .hortonplains h2{
    font-size: 75px;
    font-weight: bolder;
    color: #000000;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 2.5);
  }

  .hortonplains p{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  @media only screen and (max-width: 600px) {
    #I {
      height: auto; 
    }
  
    .hortonplains h2 {
      font-size: 40px; 
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9); 
    }
  
    .hortonplains p {
      font-size: 15px; 
    }
  }
  
  .threat{
    text-align: center;
    font-size: 55px;
    background-color: #860202;
    color: white;
    padding: 1px;
    
  }

  #J{
    background-color: #000000;
    padding: 10px;
  }

  #J h3{
    text-align: center;
    font-size: 65px;
    color: rgb(235, 94, 94);
  }

  #J p{
    text-align: center;
    font-size: 20px;
    color: rgb(235, 94, 94);
    font-weight: bold;
  }

  #J ul,h4{
    font-size: 25px;
    color: #ffffff;
  }

  #J img{
    display: block;
    margin: 0 auto;
  }

  #K{
    
    background-color: #000000;
    padding: 10px;
  }

  #K h3{
    text-align: center;
    font-size: 65px;
    color: rgb(235, 94, 94);
  }

  #K p{
    text-align: center;
    font-size: 20px;
    color: rgb(235, 94, 94);
    font-weight: bold;
  }

  #K ul,h4{
    font-size: 25px;
    color: #ffffff;
  }

  #K img{
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
  }

  #L{
    background-color: #b8d6c0;
    padding: 10px;
    font-size: large;
  }

  @media only screen and (max-width: 600px) {
    .threat {
      font-size: 40px;
      padding: 5px;
    }
  
    #J h3, #K h3 {
      font-size: 40px;
    }
  
    #J p, #K p, #L {
      font-size: 15px;
    }
  
    #J ul, #J h4, #K ul, #K h4, #L {
      font-size: 15px;
    }
  
    #K img {
      width: 85%;
      padding: 5px;
    }

    #J img{
      width: 100%;
    }
  }
  

  #M{
    background-image: url(Assets/image19.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10px;
    height: 650px;
  }

  #M h1{
    text-align: center;
    font-size: 75px;
    color: aliceblue;
    font-weight: bolder;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 2.5);

  }

  #M p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 2.5);

  }

  @media only screen and (max-width: 600px) {
    #M{
      height: auto;
    }
    #M h1 {
        font-size: 40px;
    }

    #M p {
        font-size: 15px;
    }
}
  #flex{
    display: flex;
    padding: 40px;
    gap: 10px;
    justify-content: center;
    background-color: #010807;
  }

  .surf{
    text-align: center;
    color: white;
  }

  .surf a{
    color: white;
  }

  .imgl{
    width: 400px;
    height: 400px;
    object-fit: cover;
  }

  @media only screen and (max-width: 600px) {
    #flex {
        padding: 10px;
    }

    .imgl {
        width: 100px;
        height: 100px;
    }

    .surf a{
      font-size: 10px;     
    }
}